<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Data.cv.header.name }}</title>
</head>
<body>
    <h1>Name: {{ .Site.Data.cv.header.name }}</h1>
    <h2>Title: {{ .Site.Data.cv.header.title }}</h2>
    
    <h3>Experience</h3>
    <ul>
    {{ range .Site.Data.cv.experience }}
        <li><strong>{{ .company }}</strong> - {{ .role }}</li>
    {{ end }}
    </ul>
    <ul>
    {{ range .Site.Data.cv.skills }}
      <li><strong>{{ .category }}</strong> {{ delimit .values ", " }}</li>
    {{ end }}
    </ul>

    <hr>
    <p>If you see the name above, the YAML is connected!</p>
</body>
</html>
