<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    {{ $dataKey := printf "cv_%s" .Lang }}
    {{ $cv := index .Site.Data $dataKey }}
    
    <title>{{ $cv.header.name }}</title>
</head>
<body>
    <nav>
        {{ range .AllTranslations }}
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    </nav>

    {{ $dataKey := printf "cv_%s" .Lang }}
    {{ $cv := index .Site.Data $dataKey }}

    <h1>{{ $cv.header.name }}</h1>
    <h2>{{ $cv.header.title }}</h2>
    
    <p>{{ $cv.summary }}</p>

    <h3>Experience</h3>
    <ul>
    {{ range $cv.experience }}
        <li>
            <strong>{{ .company }}</strong> - {{ .role }} ({{ .period }})
            <ul>
                {{ range .bullet_points }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </li>
    {{ end }}
    </ul>

    <h3>Skills</h3>
    <ul>
    {{ range $cv.skills }}
      <li><strong>{{ .category }}:</strong> {{ delimit .values ", " }}</li>
    {{ end }}
    </ul>

    <hr>
    <p>Viewing version: <strong>{{ .Lang }}</strong></p>
</body>
</html>
